---
import BaseLayout from "@components/base/BaseLayout.astro";
import PageHeader from "@components/common/PageHeader.astro";
import { markdownify } from "@lib/textConverter";
import { Image } from "astro:assets";
import type { AboutEntry } from "@/types";
import { render } from "astro:content";

interface Props {
  entry: AboutEntry;
}

const { entry } = Astro.props;
const { title, description, image, imageAlt } = entry.data;
const { Content } = await render(entry);
---

<BaseLayout title={title} description={description} image={image?.src}>
  <PageHeader title={title} description={description} />
  
  <section class="section-sm">
    <div class="container">
      <div class="row justify-center">
        <div class="md:col-10 lg:col-8">
          {
            image && (
              <div class="flex justify-center mb-8 intersect:animate-fadeDown opacity-0">
                <Image
                  class="w-32 h-32 md:w-40 md:h-40"
                  src={image}
                  alt={imageAlt}
                  width={200}
                  height={200}
                  loading="eager"
                />
              </div>
            )
          }
          
          <div class="glass rounded-lg p-8 intersect:animate-fadeUp opacity-0">
            <article class="content prose-lg">
              <Content />
            </article>
          </div>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>